html {
    font-size: 18px;
}
.container {
    display: flex;
    align-items: center;
    max-width: 960px;
    margin: auto;
}

/* header */

.header-top {
    width: 100%;
    background-color: black;
    padding: .66rem 0
}
.title {
    font-family: helvetica;
    font-size: 1rem;
    padding-left: 1rem;
    color: white;
}
.logo {
    height: 1.5rem;
    padding-left: .5rem;
}
.header-middle {
    background-image: url(../resources/media/images/moto.jpeg);
    background-size: cover;
    height: 25rem;
}
.header-title {
    background-color: black;
    width: 20rem;
    display: flex;
    font-family: helvetica;
    font-weight: bold;
    color: white;
    flex-direction: column;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
}
.header-title span {
    font-size: 1rem;
    margin-bottom: .25rem;
    line-height: 1.3em;
}
.header-title h1 {
    font-size: 2rem;
    line-height: 1.2em;
}
.header-bottom {
    background-color: firebrick;
    padding: .75rem;
    font-family: helvetica;
}
.header-bottom nav {
    display: block;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a {
    color: white;
    text-decoration-line: none;
}
